.products {
    margin-top: 40px;
  
    .product {
      padding: 15px 10px;
      border-radius: 5px;
  
      &:hover{ background: #f5f5f2; }
  
      .product-details {
        float: left;
  
        .product-title a {
          color: #303030;
          font-size: 21px;
          line-height: 1;
  
          &:hover, &:focus { color: #F04500; text-decoration: none; }
        }
        .product-description {
          display: block;
          color: #999;
          font-size: 16px;
        }
      }
    }
  }